NODE_ENV=development
PORT=4002
# Database Configuration (SQLite dev)
DATABASE_URL="file:./dev.db"  
# Database Configuration (PostgreSQL production)
DATABASE_URL="postgres://bb0c3bbcf218ebc5a01a11cf4aeef85cadb9561bc90b850655cb989c6b315109:sk_rdbooYXV5ShnDUanFQXRp@pooled.db.prisma.io:5432/postgres?sslmode=require"

JWT_SECRET="wavy_admin_jwt_access_super_secret_Supreme_enclave_2026"
JWT_ACCESS_SECRET="wavy_admin_jwt_access_super_secret_Supreme_enclave_2026"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_SECRET="wavy_admin_jwt_refresh_super_secret_Supreme_enclave_2026"
JWT_REFRESH_EXPIRATION="7d"
FIELD_ENCRYPTION_KEY="0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
CIPHER_KEY_HEX="0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
FRONTEND_ORIGINS="http://localhost:5175,http://localhost:5174,http://localhost:5173"
